@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(160, 231, 231);
    margin: 0;
    padding: 0;
}

header {
    background-color:  rgb(9, 157, 108);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #44c896; 
}

.perfil {
    display: flex;
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.perfil img {
    width: 30%;
    height: auto;
    border-radius: 100%;
    object-fit: cover;
}

.perfil div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.perfil h2, .perfil p {
    margin: 40px 10;
}

.resenhas {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resenhas .resenha {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.calendario {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendario {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendario-tabela {
    width: 100%;
    border-collapse: collapse;
}

.calendario-tabela th, .calendario-tabela td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.calendario-tabela th {
    background-color: #f2f2f2;
}


.endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contato button {
    padding: 20px 20px;
    background-color: rgb(9, 157, 108);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contato button:hover {
    background-color: #44c896;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
